body {
  background-color: white;
}
.giphy {
  height: 300px;
  width: 300px;
  display: block;
  margin: 10px auto;
}

.giphyIcon {
  max-height: 30px;
  cursor: pointer;
}

.arrow {
  background-color: white;
  height: 40px;
  margin: 200% auto;
  display: block;
}

.hidden {
  display: none;
}