h1 {
  text-align: center;
}
img {
  display: none;
}
.active {
  display: inline-block;
}
/*.imgContainer {
  height: 500px;
  width: 500px;
}*/
.animal{
  display: block;
  max-height: 500px;
  max-width: 500px;
  margin: 40px auto;
}

.arrow {
  display: inline-block;
  max-height: 50px;
  margin-top: 200%;
}

/*.hidden {
  display: none;
}*/

.caption {
  text-align: center;
  background-color: #94469F;
  color: white;
  border-radius: 4px;
  width: 80%;
  margin: 0 10%;
  padding: 10px;
}

.footer{
  margin-left: 15%;
}

.check {
  margin: 10px auto;

}